# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
secrets
home
dist-ssr
*.local
src/components/Trial.jsx
src/components/Trials.jsx
src/components/Button.jsx
src/hooks/useToggle.js

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

